<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Angular-gridster-demos by nickbenes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.css" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="https://code.angularjs.org/1.2.15/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

    
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/gridster.css" media="screen">
    
    <!--
    <link rel="stylesheet" type="text/css" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css" media="screen">
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    
    <link rel="stylesheet" href="bower_components/angular-gridster/dist/angular-gridster.min.css"/>
    <script src="bower_components/angular-gridster/dist/angular-gridster.min.js"></script>
    -->
    
    <link rel="stylesheet" href="stylesheets/angular-gridster.min.css"/>
    <script src="scripts/angular-gridster.min.js"></script>
    
    <script src="scripts/main.js"></script>
  </head>
  <body ng-app="app">
    <section class="page-header">
      <h1 class="project-name">Angular-gridster-demos</h1>
      <h2 class="project-tagline">A sandbox for playing with angular gridster</h2>
      <a href="https://github.com/nickbenes/angular-gridster-demos" class="btn">View on GitHub</a>
      <a href="https://github.com/nickbenes/angular-gridster-demos/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/nickbenes/angular-gridster-demos/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content" ng-controller="DashboardCtrl">
     
      <div class="gridster-header">
        <a class="pull-right btn btn-primary" ng-click="addWidget()"><i class="glyphicon glyphicon-plus"></i> Add Widget</a>
        <a class="pull-right btn btn-warning" ng-click="clear()"><i class="glyphicon glyphicon-trash"></i> Clear</a>
        <h1 style="display: inline-block; width: 200px;">Dashboard</h1>
        <select class="form-control" style="width: 150px; margin-bottom: 20px; display:inline-block;" ng-change="changeDashboard()" ng-model="selectedDashboardId" ng-options="d.id as d.name for d in dashboards | object2Array | orderBy:'id'">
        </select>

      </div>
      <div gridster="gridsterOptions">
        <ul>
          <li gridster-item="widget" ng-repeat="widget in dashboard.widgets">
            <div class="box"> <!--ng-controller="CustomWidgetCtrl"-->
              <div class="box-header">
                <h3>{{ widget.name }}</h3>
                <!--
                <div class="box-header-btns pull-right">
                  <a title="settings" ng-click="openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a>
                  <a title="Remove widget" ng-click="remove(widget)"><i class="glyphicon glyphicon-trash"></i></a>
                </div>
                -->
              </div>
              <div class="box-content">
              </div>
            </div>
          </li>
        </ul>
      </div>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/nickbenes/angular-gridster-demos">Angular-gridster-demos</a> is maintained by <a href="https://github.com/nickbenes">nickbenes</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
        
        <div class="site-footer-credits"><a href="https://github.com/ManifestWebDesign/angular-gridster">Angular-Gridster</a> code for this demo come from is a <a href="http://manifestwebdesign.com/">Manifest Web Design</a>.</div>
      </footer>

    </section>

  
  </body>
</html>
